.components {
	border: 2px dashed #9747ff;
	border-radius: 10px;
	margin-bottom: 40px;
}

/* 24x24 px */
.icon-24 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	padding: 2px;
}

/* 20x20 px */
.icon-20 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	padding: 2px;
}

/* 18x18 px */
.icon-18 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	padding: 2px;
}

/* checkbox */
.checkbox_group {
	display: block;
}
.checkbox_group input[type="checkbox"] {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}
.checkbox_group label {
	position: relative;
	cursor: pointer;
	line-height: 1;
}
.checkbox_group label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 1px solid #4ca8f8;
	padding: 9px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 2px;
}
.checkbox_group input:checked + label::before {
	background-color: #4ca8f8;
}
.checkbox_group input:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	top: 2px;
	left: 7px;
	width: 6px;
	height: 13px;
	border: solid #ffffff;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

/* Project Filter */
.project_list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.project_list .project {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	max-width: 225px;
	width: 100%;
	background-color: #ffffff;
	padding: 13px 10px;
	color: #000000;

	font-family: "Inter";
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
	letter-spacing: 0em;
	text-align: left;
	transition: all 0.3s ease-in-out 0s;
}
.project_list .project span {
	display: inline-block;
	max-width: 135px;
	width: 100%;
}
.project_list .project a {
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}
.project_list .project:hover,
.project_list .project.active {
	background-color: #e8e8e8;
}
.project_list .project:hover a,
.project_list .project.active a {
	visibility: visible;
	opacity: 1;
}

.project_filter {
	max-width: 225px;
	width: 100%;
	position: relative;
}
.project_filter:before {
	position: absolute;
	content: "";
	background-image: url(../img/components/icons/arrow-down.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	width: 18px;
	height: 18px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 2px;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.3s ease-in-out 0s;
}
.project_filter.open:before {
	transform: rotate(180deg) translateY(50%);
}

.project_filter .activated {
	display: flex;
	align-items: center;
	width: 100%;
	background-color: #ffffff;
	font-family: "Inter";
	font-size: 14px;
	font-weight: 500;
	line-height: 1.2;
	color: #000000;
	border-radius: 6px;
	padding: 10px;
	cursor: pointer;
}
.project_filter .activated a {
	visibility: hidden;
	opacity: 0;
}

.project_filter > .project_items {
	position: absolute;
	width: 100%;
	top: 100%;
	margin-top: 8px;
	background-color: #ffffff;
	border-radius: 6px;
	overflow: hidden;
	display: none;
}

/* sorting tab */
.sorting_tab {
	display: inline-block;
	font-family: "Inter";
	font-size: 12px;
	font-weight: 500;
	line-height: 2;
	letter-spacing: -0.30000001192092896px;
	text-align: left;
	color: #101111;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-underline-offset: 4px;
	text-decoration-color: transparent;
}
.sorting_tab.active {
	color: #ffffff;
	text-decoration-color: #ffffff;
}

/* Radio box */
/* checkbox */
.radiobox_group {
	display: inline-block;
}
.radiobox_group input[type="radio"] {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}
.radiobox_group label {
	position: relative;
	cursor: pointer;
	line-height: 1;
	display: flex;
	align-items: center;
	gap: 8px;
	font-family: "Inter";
	font-size: 12px;
	font-weight: 500;
	letter-spacing: -0.20000000298023224px;
}
.radiobox_group label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 1px solid #00abff;
	padding: 7px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	border-radius: 50%;
}
.radiobox_group input:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	top: 4px;
	left: 4px;
	width: 8px;
	height: 8px;
	background-color: #00abff;
	border-radius: 50%;
}

.radiobox {
	background-color: #ffffff;
	border-radius: 20px;
	padding: 30px 20px;
}

/* progress step */
.progress_step {
	max-width: 110px;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
	position: relative;
	z-index: 1;
}
.progress_step .label {
	font-family: "Inter";
	font-size: 12px;
	font-weight: 500;
	line-height: 1;
	color: #969696;
}
.progress_step .dot {
	display: inline-block;
	width: 12px;
	height: 12px;
	border: 1px solid #969696;
	background-color: #f6f8fa;
	border-radius: 50%;
}
.progress_step.current .label {
	font-weight: 800;
	color: #040f46;
}
.progress_step.current .dot {
	border-color: #4ca8f8;
	background-color: #4ca8f8;
}
.progress_step.done .label {
	color: #040f46;
}
.progress_step.done .dot {
	border-color: #4ca8f8;
}

/* progress bar */
.progress_bar {
	position: relative;
	max-width: 570px;
	width: 100%;
	height: 37px;
	z-index: 1;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.progress_bar::after {
	position: absolute;
	bottom: 7px;
	left: 50%;
	transform: translateX(-50%);
	content: "";
	display: block;
	width: 80%;
	height: 2px;
	background-color: #e6e6e6;
	z-index: -1;
}
.progress_bar .progress_step.done::before,
.progress_bar .progress_step.current::before {
	content: "";
	width: 135%;
	height: 2px;
	position: absolute;
	right: 54px;
	bottom: 5px;
	background-color: #4ca8f8;
	z-index: -1;
}
.progress_bar .progress_step.done:first-child::before {
	display: none;
}

/* IP type filter */
.ip_list {
	padding: 0;
	margin: 0;
	list-style: none;
}
.ip_list .ip {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	max-width: 225px;
	width: 100%;
	background-color: #ffffff;
	padding: 1px 8px;
	color: #000000;

	font-family: "Inter";
	font-size: 14px;
	font-weight: 500;
	line-height: 1.3;
	letter-spacing: 0em;
	text-align: left;
	transition: all 0.3s ease-in-out 0s;
}
.ip_list .ip span {
	display: inline-block;
	max-width: 140px;
	width: 100%;
}
.ip_list .ip a {
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}
.ip_list .ip:hover,
.ip_list .ip.active {
	background-color: rgba(255, 255, 255, 0.1);
}
.ip_list .ip:hover a,
.ip_list .ip.active a {
	visibility: visible;
	opacity: 1;
}
